body {
    background: rgb(39, 119, 180);
}

.message {
  border-radius: 50px;
  margin: 0 15px 10px;
  padding: 5px;
  position: relative;
  font-weight: bold;

}


.message.to {
  background-color: #2095FE;
  color: #fff;
  margin-left: 50px;
  text-align: right;
  
}
.message.from {
  background-color: #E5E4E9;
  color: #363636;
  margin-right: 10px;

}
.message.to + .message.to,
.message.from + .message.from {
margin-top: 10px;
}
.message {
  width: 35%;
  height: 100%;
  font-size: 120%;
  font-family: sans-serif;
  text-align: left;

  

}
h1 {
   font-size: bold;
   color: black;
   width: 100%;
}
label {

   width: 100px;
   margin-left: 9%;
   margin-right: 10%;
}
button {
   width: 100px;
   margin-left: 10%;
   margin-right: 10%;
   font-size: 100%;



}
input {

   width: 40%;
   margin-left: 10%;
   margin-right: 10%;
   border: none;
   border-bottom: 2px solid black;


}












